<% $itemsfactor = $itemsfactor - 0.1 %><p>
<%= $items %> <p>
<%= $itemsfactor %>   Itemsfactor
<%= $allplayers[0][3] %>  player 1<p>
<%= $allplayers[1][3] %>   player 2       <p>
<%= $allplayers[2][3] %>  player 3<p>
<%= $allplayers[3][3] %>  player 4<p>


<% $instr.gsub!("PlayerA", $allplayers[$randplayer1][0]) %>
<% $instr.gsub!("PlayerB", $allplayers[$randplayer2][0]) %>
<%= $instr %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


</body>