
<% $instr.gsub!("PlayerA", $allplayers[$randplayer1][0]) %>
<% $instr.gsub!("PlayerB", $allplayers[$randplayer2][0]) %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color:powderblue;">

<h1><p align="center"><%= $instr %></h></h1>

<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>

<h1><p align="center"><a href="/games"><button style="font-size: 32px;">Next Instruction</button></a></h1><p></p>

<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>
<p> <%= $space %></p>

<p align="center"><a href="/exit"><button style="font-size: 32px;">quit</button></a><p></p>


</body>